@font-face {
  font-family: Cabin;
  src: url('../../fonts/Cabin/Cabin-Regular.ttf');
}

body{
  margin: 0;
  font-family: Cabin, sans-serif !important;
}

button{
  color: #eeeeee;
  font-size: 16px ;
  text-align: center;
  text-decoration: none;
  margin: 2.5px;
  padding-bottom: 3.5px;
  height: 40px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #131616;
  background-color: #131616;
  border: 2px solid #00acb5e1;
  border-radius: 10px;
  font-family: Cabin, sans-serif !important;
}

button:hover, button:focus{
  outline: 0 !important;
}

button:hover{
  background-color: #0f1111;
}

#content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-template-rows: auto repeat(5, 40px);
  width: 238px;
  height: 320px;
  padding: 20px;
  background-color: #131616;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #131616;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  margin-top: -160px;
  left: 50%;
  margin-left: -119px;
}

.value{
  display: inline-block;
  font-size: 1.4em;
  text-align: right;
  padding: 10px;
  margin: 2.5px;
  color: #eeeeee;
  background-color: #131616;
  border: 2px solid #00acb5e1;
  border-radius: 10px;
  grid-column: 1 / -1;
}

.zero{
  grid-column: 1 / 3;
}