.body{
    font-family: 'Roboto Mono', 'DM Mono', monospace;
    font-size: 16px;
    max-width: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: #1b1b1b;
    color: #fefefe;
    height: 100vh;
}

/*HEADER*/
.header__container{
    margin: 1em;
}

.header__container__title{
    font-family: Staatliches, 'Roboto Mono', 'DM Mono', monospace;
}

.header__container__text{
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
}

/*MAIN*/
.main{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main .main__container{
    margin: 1em;
}

.calculator__container{
    display: -ms-grid;
    display: grid;
    grid-template-areas:
            "result result result result"
            "c ce division multiplication"
            "seven eight nine minus"
            "four five six plus"
            "one two three plus"
            "zero dot equal equal";
    grid-gap: .5em;
    min-width: 276px;
}

.calculator__container .calculator__container__result{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    padding: .5em;
    grid-area: result;
    background-color: #0091ea;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    min-height: 66px;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.calculator__container .calculator__container__result .calculator__container__result__title{
    font-size: 1em;
    word-break: break-all;
    text-align: right;
    width: 100%;
}

.calculator__container .calculator__container__result .calculator__container__result__text {
    font-size: 12px;
    margin-bottom: 4px;
    text-align: right;
    width: 100%;
    word-spacing: -4px;
}

.calculator__container .calculator__container__c{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: c;
}

.calculator__container .calculator__container__ce{
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: ce;
}

.calculator__container .calculator__container__division{
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: division;
}

.calculator__container .calculator__container__multiplication{
    -ms-grid-row: 3;
    -ms-grid-column: 7;
    grid-area: multiplication;
}

.calculator__container .calculator__container__seven{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: seven;
}

.calculator__container .calculator__container__eight{
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: eight;
}

.calculator__container .calculator__container__nine{
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    grid-area: nine;
}

.calculator__container .calculator__container__minus{
    -ms-grid-row: 5;
    -ms-grid-column: 7;
    grid-area: minus;
}

.calculator__container .calculator__container__four{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: four;
}

.calculator__container .calculator__container__five{
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: five;
}

.calculator__container .calculator__container__six{
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    grid-area: six;
}

.calculator__container .calculator__container__plus{
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    -ms-grid-column: 7;
    grid-area: plus;
    height: auto;
}

.calculator__container .calculator__container__one{
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: one;
}

.calculator__container .calculator__container__two{
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    grid-area: two;
}

.calculator__container .calculator__container__three{
    -ms-grid-row: 9;
    -ms-grid-column: 5;
    grid-area: three;
}

.calculator__container .calculator__container__zero{
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: zero;
}

.calculator__container .calculator__container__dot{
    -ms-grid-row: 11;
    -ms-grid-column: 3;
    grid-area: dot;
}

.calculator__container .calculator__container__equal{
    -ms-grid-row: 11;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: equal;
}

.calculator__container .calculator__container__button{
    -webkit-box-shadow: 0 1px 3px 0 rgba(27,27,27,.2), 0 1px 1px 0 rgba(27,27,27,.14), 0 2px 1px -1px rgba(27,27,27,.12);
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.2), 0 1px 1px 0 rgba(27,27,27,.14), 0 2px 1px -1px rgba(27,27,27,.12);
    background-color: #0091ea;
    color: #fefefe;
    font-size: 1em;
    min-width: 55px;
    min-height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -o-transition: none;
    transition: none;
    -webkit-transition: none;
}

/*FOOTER*/
.footer{
    position: relative;
    bottom: 0;
}

.footer .footer__container{
    margin: 1em;
}

.footer .footer__container .footer__container__title{
    min-height: 21px;
    text-transform: lowercase;
    line-height: 1.25;
}

/*GENERAL*/
h1{
    font-size: 3.5em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 2em;
}

h5{
    font-size: 1.5em;
}

h6{
    font-size: 1em;
}

a{
    font-size: 1em;
}

*::after, *::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus{
    outline: 5px auto #fefefe !important;
    -moz-outline: 5px auto #fefefe !important;
    -webkit-outline: 5px auto #fefefe !important;
}

*::-moz-selection{
    background: #0091ea;
    color: #fefefe;
}

*::selection{
    background: #0091ea;
    color: #fefefe;
}

.no-margin{
    margin: 0 !important;
}

.no-margin-top{
    margin-top: 0 !important;
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.lowercase{
    text-transform: lowercase;
}

.link{
    color: #0091ea;
    position: relative;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    white-space: nowrap;
}

.link::before{
    content: '';
    height: 1px;
    position: absolute;
    bottom: -2px;
    width: 0;
    background-color: #0091ea;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-box-sizing: border-box;
}

.link:hover::before, .link:focus::before{
    width: 100%;
}

/*MEDIA QUERIES*/
/* MOBILE */
@media (max-width: 400px){

}

/* TABLET */
@media (max-width: 600px){
    .body {
        font-size: 14px;
    }

    *:focus{
        outline: 0 !important;
    }
}

/* SMALL-DESKTOP */
@media (max-width: 800px){

}

/*DESKTOP*/
@media (max-width: 1200px){

}

/*HD*/
@media (max-width: 1440px){

}